# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. Julia
4. Scala

##### **Some of the commonly used libraries used by Data Scientists include:**

1. Numpy
2. Pandas
3. matplotlib
4. ggplot
5. plotly

##### **Data Science Tools:**

|S.No | Name of the Tool
|------|-----------------
|1 | Jupyter Notebook|
|2 | Pytorch|
|3 |TensorFlow|
|4 | PowerBI|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min_to_hrs = 200/60
min_to_hrs

3.3333333333333335

**Objectives:**
* Python
* R
* Julia
* Java
* Scala
* C++
* JavaScript

## Author : Rajesh M.